@model IEnumerable<SP_Share.Models.User>

@{
    ViewBag.Title = "User List";
}

<h2>User List</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.IsAdmin)</th>
        <th>@Html.DisplayNameFor(model => model.IsActive)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.IsAdmin)</td>
            <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
            <td>
                @if (!item.IsActive)
                {
                    @Html.ActionLink("Active", "User", new { account = item.Account })
                }
            </td>
        </tr>
    }
</table>
