@model IEnumerable<SP_Share.Models.User>

@{
    ViewBag.Title = "User List";
}

<h2>User List</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Limit)</th>
        <th>@Html.DisplayNameFor(model => model.IsAdmin)</th>
        <th>@Html.DisplayNameFor(model => model.IsActive)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Limit)
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>@Html.DisplayFor(modelItem => item.IsAdmin)</td>
            <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
            <td>
                @if (!item.IsActive)
                {
                    @Html.ActionLink("Active", "Active", new { account = item.Account })
                    <a>|</a>
                }

                <a href="#" onclick="SetLimit('@item.Account')">Set Space Consumption</a>
            </td>
        </tr>
    }
</table>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="limitDialog"></div>

<script>
    function SetLimit(account) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("_Limit")',
            data: { account: account },
            success: function (response) {
                $("#limitDialog").html(response);
                $('#limitDialog').modal('show');
            }
        });
    };
</script>