@model IEnumerable<SP_Share.Models.Item>

@{
    ViewBag.Title = "Item List";
}

<h2>Item List</h2>

<p>
    @Html.ActionLink("Put", "Put")
</p>
<table class="table">
    <tr>
        <th>Group Name</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>@Html.DisplayNameFor(model => model.Content)</th>
        <th>@Html.DisplayNameFor(model => model.Creator)</th>
        <th>@Html.DisplayNameFor(model => model.CreateTime)</th>
        <th>@Html.DisplayNameFor(model => model.AccessTime)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.GroupDetail.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>@Html.ActionLink("Get", "Download", new { idx = item.Idx })</td>
            <td>@Html.DisplayFor(modelItem => item.CreatorDetail.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.CreateTime)</td>
            <td>@Html.DisplayFor(modelItem => item.AccessTime)</td>
            <td>
                @if (Session["UserName"].ToString() == item.Creator || Session["IsAdmin"].ToString() == "True")
                {
                    @Html.ActionLink("Edit", "Edit", new { idx = item.Idx })
                    <a>|</a>
                    @Html.ActionLink("Remove", "Delete", new { idx = item.Idx })
                }
            </td>
        </tr>
    }
</table>

@if (TempData["ErrMsg"] != null && !string.IsNullOrWhiteSpace(TempData["ErrMsg"].ToString()))
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["ErrMsg"]));
        alert(message);
    </script>
}